<%= form_with(model: [post, post_detail], data: { turbo: true }) do |f| %>
  <%= render 'shared/error_messages', object: post_detail %>
  <div class="nested-fields bg-secondary-subtle rounded-3">
    <div class="pt-3">
      <h2 class="fw-bold fs-4 text-center">行き先追加</h2>
    </div>
      <div class="m-3">
        <%= f.label :body, "本文 [必須]" %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="m-3">
        <%= f.label :arrival_at, "到着時間 [必須]"  %>
        <%= f.time_field :arrival_at, class: "form-control" %>
      </div>
      <div class="m-3">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control", accept: 'image/*' %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="m-3">
        <%= f.hidden_field :place_name, id: 'place_name' %>
        <%= f.hidden_field :latitude, id: 'latitude' %>
        <%= f.hidden_field :longitude, id: 'longitude' %>
        <%= f.label :address, for: 'pac-input' %>
        <%= f.text_field :address, id: "pac-input", class: "form-control", placeholder: "検索" %>
        <div class="m-3" id='map' style="height: 400px;"></div>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto my-2 pb-3">
        <%= f.submit "追加", class: "btn btn-dark", id: "add-post_detail" %>
      </div>
  </div>
<% end %>
