<% if @post_detail.errors.present? %>
  <%= turbo_stream.replace "post_detail-form" do %>
    <div id="post_detail-form">
      <%= render 'post_details/form', post_detail: @post_detail, post: @post %> 
    </div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 35.6803997, lng: 139.7690174 },
          zoom: 15,
          mapTypeId: "roadmap",
        });
        var input = document.getElementById("pac-input");
        var searchBox = new google.maps.places.SearchBox(input);
      
        var markers = [];
      
        searchBox.addListener("places_changed", () => {
          var places = searchBox.getPlaces();
      
          if (places.length == 0) {
            return;
          }
      
          markers.forEach((marker) => {
            marker.setMap(null);
          });
          markers = [];
      
          var bounds = new google.maps.LatLngBounds();
      
          places.forEach((place) => {
            if (!place.geometry || !place.geometry.location) {
              console.log("Returned place contains no geometry");
              return;
            }
      
            markers.push(
              new google.maps.Marker({
                map,
                position: place.geometry.location
              }),
            );
            if (place.geometry.viewport) {
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
      
            document.getElementById('place_name').value = place.name;
            document.getElementById('latitude').value = place.geometry.location.lat();
            document.getElementById('longitude').value = place.geometry.location.lng();
          });
          map.fitBounds(bounds);
        });
      };

      initMap();
    </script>
  <% end %>
<% else %>
  <%= turbo_stream.replace "table-post_detail" do %>
    <tbody id="table-post_detail">
      <%= render @post_details, action_type: :new %>
    </tbody>
  <% end %>
  <%= turbo_stream.replace "post_detail-form" do %>
    <div id="post_detail-form">
      <%= render 'post_details/form', post_detail: @post_detail, post: @post %> 
    </div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 35.6803997, lng: 139.7690174 },
          zoom: 15,
          mapTypeId: "roadmap",
        });
        var input = document.getElementById("pac-input");
        var searchBox = new google.maps.places.SearchBox(input);
      
        var markers = [];
      
        searchBox.addListener("places_changed", () => {
          var places = searchBox.getPlaces();
      
          if (places.length == 0) {
            return;
          }
      
          markers.forEach((marker) => {
            marker.setMap(null);
          });
          markers = [];
      
          var bounds = new google.maps.LatLngBounds();
      
          places.forEach((place) => {
            if (!place.geometry || !place.geometry.location) {
              console.log("Returned place contains no geometry");
              return;
            }
      
            markers.push(
              new google.maps.Marker({
                map,
                position: place.geometry.location
              }),
            );
            if (place.geometry.viewport) {
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
      
            document.getElementById('place_name').value = place.name;
            document.getElementById('latitude').value = place.geometry.location.lat();
            document.getElementById('longitude').value = place.geometry.location.lng();
          });
          map.fitBounds(bounds);
        });
      };

      initMap();
    </script>
  <% end %>
<% end %>