<% content_for(:title, t('.title')) %>
<div class="container p-3 p-md-5">
  <div class="row">
    <div class=" col-md-10 col-lg-8 mx-auto">
      <p class="fs-3 text-center fw-bold"><%= t('.title') %></p>
      <%= form_with model: @user, url: password_reset_path(@token) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="d-grid gap-2">
          <%= f.submit t('.submit'), class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>