<% content_for :css do %>
	<%= stylesheet_link_tag 'posts' %>
<% end %>
<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to posts_path, class: 'btn btn-outline-secondary', data: { bs_toggle: "modal", bs_target: "#searchModal" } do %>
        <i class="fa-solid fa-magnifying-glass">投稿を検索</i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
          <h1 class="fw-bold fs-3 my-3">記事一覧</h1>
          <%= render @posts %>
        <% else %>
          <h1 class="fw-bold fs-3 my-3">記事一覧</h1>
          <div class="mb-3">投稿がありません</div>
        <% end %>
        <% if !current_user.nil? %>
          <%= link_to "＋", new_post_path, class: "new_post_button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="searchModalLabel">投稿を検索</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= search_form_for @q, url: posts_path do |f| %>
					<%= f.label :user_name_cont, 'ユーザー名' %>
					<%= f.search_field :user_name_cont, class: 'form-control mb-3', list: "userDatalistOptions" %>
					<datalist id="userDatalistOptions">
						<% @users.each do |user| %>
							<option value="<%= user.name %>">
						<% end %>
					</datalist>
          <%= f.label :title_or_post_details_body_cont, '投稿タイトル' %>
          <%= f.search_field :title_cont, class: 'form-control mb-3', list: "titleDatalistOptions" %>
					<datalist id="titleDatalistOptions">
						<% @posts.each do |post| %>
							<option value="<%= post.title %>">
						<% end %>
					</datalist>
          <%= f.label :post_details_address_cont, '行き先(地名、施設名など)' %>
          <%= f.search_field :post_details_address_cont, class: 'form-control mb-3' %>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <%= f.submit '検索', class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
