<% content_for(:title, @post.title) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-9 offset-lg-2 my-5">
      <% if @post.image.present? %>
        <div class="text-center pb-4">
          <%= image_tag @post.image.url, height: "300", style: "object-fit: cover;", class: "img-responsive" %>
        </div>
      <% end %>
      <ul class="list-inline d-flex mb-3">
        <li class="list-inline-item me-auto">
          <h3 style="display: inline;" class="fw-bold"><%= @post.title %></h3>
        </li>
        <% if current_user.own?(@post) %>
          <li class="list-inline-item">
            <%= link_to "削除", post_path(@post), class: "btn btn-danger", id: "button-delete", data: { turbo_method: :delete, turbo_confirm: '記事を削除します。よろしいですか？' } %>
          </li>
        <% end %>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item"><%= "by #{@post.user.name}" %></li>
        <li class="list-inline-item text-secondary"><%= l(@post.created_at, format: :time)%></li>
      </ul>
      <p class="fw-bold fs-5"><%= l @post.departure_date %></p>
      <table class="table">
        <tbody id="table-post_detail">
          <%= render @post_details, action_type: :show %>
        </tbody>
      </table>
      <% if @post_details.any? { |post_detail| !post_detail.latitude.nil? } %>
        <div class="m-3" id='map' style="height: 400px;"></div>
        <div id="post_details_info" data-json="<%= @post_details.to_json %>" hidden></div>
      <% end %>
    </div>
  </div>
</div>
<script>
  var map;
  var marker = [];
  var infoWindow = [];
  var markerLatLng;
  var markerData = JSON.parse(document.getElementById("post_details_info").dataset.json);

  function initMap() {
    var geocoder = new google.maps.Geocoder()
    var bounds = new google.maps.LatLngBounds();

    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 35.6803997, lng: 139.7690174 },
      zoom: 15,
      mapTypeId: "roadmap",
    });

    for (var i = 0; i < markerData.length; i++) {
      if (markerData[i]['latitude'] === null) {
        continue;
      }

      var id = markerData[i]['id']

      markerLatLng = new google.maps.LatLng({
        lat: markerData[i]['latitude'],
        lng: markerData[i]['longitude']
      });

      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map
      });

      bounds.extend (marker[i].position);

      infoWindow[i] = new google.maps.InfoWindow({
        content: markerData[i]['place_name']
      });

      markerEvent(i);
    }

    map.fitBounds (bounds);
  };

  function markerEvent(i) {
    marker[i].addListener('click', function () {
      infoWindow[i].open(map, marker[i]);
    });
  }
</script>