<% content_for(:title, @post.title) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-9 offset-lg-2 my-5">
      <% if @post.image.present? %>
        <div class="text-center pb-4">
          <%= image_tag @post.image.url, height: "300", style: "object-fit: cover;", class: "img-responsive" %>
        </div>
      <% end %>
      <h3 style="display: inline;" class="fw-bold"><%= @post.title %></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><%= "by #{@post.user.name}" %></li>
        <li class="list-inline-item text-secondary"><%= l(@post.created_at, format: :time)%></li>
      </ul>
      <p class="fw-bold fs-5"><%= l @post.departure_date %></p>
      <table class="table">
        <tbody id="table-post_detail">
          <%= render @post_details, action_type: :show %>
        </tbody>
      </table>
    </div>
  </div>
</div>